<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net452" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net452" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net452" />
</packages>