<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ini-parser" version="2.5.2" targetFramework="net452" />
  <package id="MonoGame.Extended" version="1.1.0" targetFramework="net452" />
  <package id="MonoGame.Framework.WindowsDX" version="3.6.0.1625" targetFramework="net452" />
  <package id="MonoGame.UI.Forms" version="1.0.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="SharpDX" version="4.2.0" targetFramework="net452" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net452" />
  <package id="zlib.net" version="1.0.4.0" targetFramework="net452" />
</packages>